body{
  margin:0;
  overflow:hidden;
  background:#0b0b0b;
  font-family:Arial;
}

#scene{
  width:100vw;
  height:100vh;
}

/* admin */
#adminPanel{
  position:fixed;
  top:10px;
  left:10px;
  background:#000000cc;
  padding:15px;
  border-radius:12px;
  color:white;
  z-index:10;
}

.controls{
  position:fixed;
  top:10px;
  right:10px;
  z-index:10;
}

button{
  padding:10px 16px;
  border:none;
  border-radius:8px;
  cursor:pointer;
  background:#fff;
  font-weight:bold;
}
